*.class

# Package Files #
*.jar

# virtual machine crash logs
hs_err_pid*

# JetBrains template
*.iml

# Directory-based project format:
.idea/

### Custom configuration
# Disable target
target/
# Disable logging
logs/
# Exclude resources
res/
dependency-reduced-pom.xml
